.sign-up-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .sign-up-form {
    font-family: Poppins-Medium, sans-serif;
    position: relative;
    width: 500px;
    height: 680px;
    padding: 55px 55px 37px 55px;
    border-radius: 10px;
    background: linear-gradient(to top, #0b6382, #00233f);

    button {
      margin-top: 60px;
    }

    .log-in {
      position: absolute;
      font-weight: bold;
      bottom: 40px;
      left: 44.2%;
      font-size: 13.7px;
      letter-spacing: 0.09em;
      color: rgba(255, 255, 255, 0.7);

      &:hover {
        color: #fff;
        cursor: pointer;
      }
    }
  }
}