.nav-container {
    display: flex;
    justify-content: flex-end;
    padding: 20px 30px;

    .nav-signin {
        cursor: pointer;
        font-size: 28px;
        transition: color 0.2s ease-out;

        &:hover {
            color: #0B6382;
        }
    }
}